nav.rs-top {
	margin: 0px;
	padding: 0px;
}
nav.rs-top a {
	display: inline-block;
	font-size: 18px;
	padding: 4px;
	margin: 0px 0px;
	color: rgb(240,240,240);
}
nav.rs-top a.round:hover, a.selected {
	background-image: url(../images/whitetoblue.png);
}
div.rs-language {
	position: absolute;
	top: 0px;
	padding: 0px 0px 0px 5px;
}
div.rs-language a.language-link, span.language-link {
	color: rgb(87,87,86);
	font-size: 14px;
}
div.rs-content {
	padding: 10px;
	margin: 15px 0px 15px 0px;
}
div.rs-footer {
	text-align: center;
	padding: 5px;
}
nav.rs-bottom {
	padding: 5px;
}
