nav.top {
	margin: 0px;
	padding: 0px;
}
nav.top a {
	display: inline-block;
	font-size: 18px;
	padding: 4px;
	margin: 0px 0px;
	color: rgb(240,240,240);
}
nav.top a:hover, a.selected {
	background-image: url(whitetoblue.png);
}
div.content {
	padding: 10px;
	margin: 15px 0px 15px 0px;
}
div.footer {
	text-align: center;
}
nav.bottom {
	padding: 5px;
}
